################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPS_Client/.vs/RPSClient/FileContentIndex/0191bfe0-e886-4a8e-b0ba-5b2a50330e8e.vsidx
/RPS_Server/.vs/RPS_Server/FileContentIndex/367c3650-c1e8-4831-9fbf-226649de3b3a.vsidx
